<html>
    <body>
        <h1>HELLO! <%= people%></h1>
        <nav>
            <a href="/">home</a>
            <a href="/about">about</a>
        </nav>
        <!-- <ul>
            <% people.map((person) => {
            %><li><%= person.name %></li><%
            })
            %>
        </ul> -->
        <ul>
            <% people.map((person, i) => { %>
                <li><a href="/people/<%=person.id%> "<p><%= p.name %>></p></li>
            <% }) %>
        </ul>
    </body>
</html>